[submodule "third_party/wasm-micro-runtime"]
	path = third_party/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "third_party/WasmEdge"]
	path = third_party/WasmEdge
	url = https://github.com/WasmEdge/WasmEdge.git
